<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zadanie1</title>
</head>

<body>
    <h2>Wybierz plik do wysłania na serwer:</h2>
    <div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="File"/>
            <br>
            <br>
            <input type="submit" name="submit" value="Wyślij"/>
        </form>
    </div>
</body>

</html>